// CARD

.weather-card {
  margin-bottom: 70px;
  &:not(&:first-child) {
    border-top: 2px solid black;
  }

  .city {
  }

  .main-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    padding: 40px 0;

    &__temperature {
      font-size: 38px;
      font-weight: 600;
    }
  }
  .short-details {
    display: block;
    margin-bottom: 30px;
  }
  .long-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 30px;

    &__prop {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
