// COMMON
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.widget-container {
  position: relative;
  max-width: 425px;
  min-width: 320px;
  font-size: 62.5%;
  //font-size: 1.6em;

  padding: 26px;
}
@import '@/pages/MainPage';
@import '@/components/WeatherCard';
