// COMMON
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.root {
  max-width: 375px;
  min-width: 320px;

  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  background: #e4e4e4;
}

.widget-container {
  position: relative;
  height: 100%;
  border: 2px solid black;
  border-radius: 4px;

  font-size: 1.6em;
}

.container {
  padding: 0 26px;
}

.title {
  font-size: inherit;
  font-weight: 600;
}

.header {
  display: flex;
  align-items: center;
  height: 75px;
}

.spinner-container {
  position: absolute;
  //left: 0;
  left: -26px;
  top: 0;
  width: calc(100% + 50px);
  height: 100%;
  z-index: 3;
  backdrop-filter: blur(4px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.message-wrapper {
  padding-bottom: 26px;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 15px;
  border-radius: 4px;
  background: #fbfbfb;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  height: 30px;
  width: 30px;

  background: none;
  border: none;

  cursor: pointer;

  &--toggle {
    position: absolute;
    right: 25px;
    top: 25px;
  }

  .icon {
    color: black;
    transition: color 0.2s;

    &:hover {
      color: darkcyan;
    }
  }

  img {
    width: 100%;
  }
}

@import '@/pages/SettingsPage';
@import '@/components/WeatherCard';
